<div class="container w-75 mt-5">
  <table class="table table-bordered w-100">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comic of (comics$ | async)">
        <td>{{comic.title}}</td>
        <td>{{comic.description | slice:0:50}}...</td>
        <td>{{comic.prices[0].price}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row float-end">
    <input [(ngModel)]="discount" type="text" class="col-auto" />
    <button class="btn btn-success col-auto" (click)="checkDiscount()">Check</button>
  </div>
</div>