<div class="container w-75 mt-5">
  <table class="table w-100">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comic of (comics$ | async)?.comics">
        <td>{{ comic.title | slice: 0:50 }}</td>
        <td>
          {{ comic.description | slice: 0:50 }}...
        </td>
        <td>{{ comic.prices[0].price | currency: "USD":"$ " }}</td>
      </tr>
      <caption *ngIf="(comics$ | async)?.comics?.length">
        Total:
        {{
          (comics$ | async)?.total | currency: "USD":"$"
        }}
      </caption>
    </tbody>
  </table>
  <div class="row float-end">
    <input [(ngModel)]="discount" type="text" class="col-8" />
    <button class="btn btn-success col-auto" (click)="checkDiscount()">
      Check
    </button>
  </div>
</div>
