<div class="card">
  <img class="card-img" [src]="comic?.thumbnail?.path + '.' + comic?.thumbnail?.extension"/>
  <div class="card-body" (click)="showModal(comic)">
    <h5 class="card-title">{{comic?.title}}</h5>
    <p class="card-text">{{comic?.description| slice:0:250}}</p>
  </div>
  <div class="card-footer">
    <p class="badge bg-success">{{(comic ? comic.prices[0].price : 0) | currency:'USD':'$ '}}</p>
    <p class="badge bg-secondary">{{comic.rarity}}</p>
    <button class="btn btn-primary float-end" (click)="addToCart(comic)">Add to Cart</button>
  </div>
</div>